/*Reset styles CSS*/
body,
h1,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #fcfaf9;
  overflow-x: hidden;
}

/*Header CSS*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .top_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
  }

  h1 {
    font-weight: 200;
    font-size: 2em;
  }

  h1 {
    flex: 1;
    margin-left: 5%;
  }

  .tools_header {
    display: inline-flex;
    gap: 2em;
    margin-right: 10%;
    margin-top: 1%;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.home_categories {
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  li {
    display: inline-block;
    align-items: center;
    text-align: center;
    margin: 0 2% 2% 2%;

    a:hover {
      color: #f7b050;
    }

    a {
      text-decoration: none;
      color: black;
    }

    font-size: 1.2em;
  }
}

.carousel-inner {
  img {
    max-width: 100%;
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

/*About Us CSS*/
#about {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px;
  margin: 0 10%;
}

#achievement {
  display: flex;
  text-align: center;
  padding: 50px;
  margin: 0 10%;

  h5 {
    padding-bottom: 40px;
  }
}

/*Special Collection CSS*/
#collection {
  padding: 50px;
  background-image: url(/img/hp_collection/bg_img.svg);
  background-size: cover;

  #introduce {
    text-align: center;
    padding-bottom: 40px;
  }

  .col-md-6 {
    display: flex;
    justify-content: center;
  }

  .explore_more {
    text-align: center;
    padding-top: 40px;
  }
}

/*Blogs CSS*/
#blogs {
  display: flex;
  padding: 50px;
  justify-content: center;
  margin: 0 5%;

  #introduce {
    text-align: center;
    padding-bottom: 20px;
  }

  #link {
    text-align: end;
    padding: 0 100px 40px 0;
  }

  a {
    color: black;
    text-decoration: none;
  }

  img {
    width: 100%;
    border-radius: 8%;
    height: auto;
  }

  #author_button {
    margin: 5%;
  }

  #main {
    width: 100%;
    display: flex;
    justify-content: space-between;

    div:nth-child(2) {
      margin-right: 11%;
    }
  }
}

/*InsDesign CSS*/
#design {
  padding: 50px;
  background-image: url(/img/inspire.svg/bg_img.svg);
  background-size: cover;
  display: flex;

  h1 {
    text-align: center;
    padding-bottom: 50px;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  li {
    display: inline-block;
    align-items: center;
    text-align: center;
    margin: 0 2% 2% 2%;

    a:hover {
      color: #f7b050;
    }

    a {
      text-decoration: none;
      color: white;
    }

    font-size: 1.2em;
  }

  #img {
    display: flex;
    justify-content: center;
  }

  #link {
    width: 100%;
    text-align: center;
    padding: 50px 70px 0 40px;

    a:hover {
      text-decoration: underline;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}

/*Order CSS*/
#order {
  display: flex;
  padding: 70px;
  justify-content: space-between;
  margin: 0 6%;
  input {
    border: none;
    border-bottom: 2px solid #9095a0;
    height: 40px;
    margin-bottom: 10px;
  }
  select {
    border: none;
    border-bottom: 2px solid #9095a0;
    height: 40px;
    margin-bottom: 10px;
  }
  #file {
    border: none;
  }

  h1 {
    text-align: center;
    padding-bottom: 50px;
  }

  h2 {
    text-align: center;
  }

  #order_form {
    width: 100%;

    #material {
      display: flex;
      justify-content: space-around;
    }
  }

  #img_container {
    display: flex;
    justify-content: space-around;

    #img {
      margin: 10%;
    }
  }
}

/*Advertise CSS*/
#advertise {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 5%;
  .text {
    margin: 2% 15%;
  }
  bottom_img {
    display: grid;
    grid-template-areas:
      "bimg1 bimg1 simg1 bimg2 bimg2 simg3"
      "bimg1 bimg1 simg1 bimg2 bimg2 simg3"
      "bimg1 bimg1 simg2 bimg2 bimg2 simg4"
      "bimg1 bimg1 simg2 bimg2 bimg2 simg4";
    gap: 10px;
  }
}

/*Footer CSS*/
footer {
  padding: 30px 100px 10px 100px;
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;
}

#others_info {
  a:hover {
    color: #f7b050;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

#sercurity_contact {
  padding: 40px 0 0 0;
}

#sercurity {
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #f7b050;
  }
}

#contact {
  text-align: center;
}
