/*Reset styles CSS*/
body,
h1,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


body {
    background-color: #FCFAF9;
}

/*Header CSS*/
.header {
    color: white;
    padding: 20px;

    h1 {
        font-weight: 200;
        font-size: 2em;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin-left: 10%;
    }

    .tools_header {
        display: inline-flex;
        gap: 2em;
        margin-right: 10%;
    }
}

.home_categories {
    display: flex;
    justify-content: center;

    li {
        display: inline-block;
        margin: 0 120px 120px 0;
        align-items: center;

        a:hover {
            color: #F7B050;
        }

        a {
            text-decoration: none;
            color: white;
        }

        font-size: 1.2em;
    }
}

#header_container {
    display: flex;
    justify-content: center;
    background-image: url(/img/collection/wedding/header_img.svg);
    background-size: cover;

    #header_intro {
        padding-bottom: 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 500px;
        height: 700px;
        color: #F7DBB7;

        h1 {
            font-size: 7em;
            width: 700px;
        }

        h4 {
            padding: 10px;
            border: solid 1px #F7DBB7;
            border-radius: 50%;
        }
    }

}

/*Page body CSS*/
#collection1 {
    height: 90%;
    margin-top: 50px;

    div:nth-child(1) {
        margin: 2% 0 5% 10%;
        height: 300px;
        width: 30%;
        display: flex;
        justify-content: start;
    }

    div:nth-child(2) {
        width: 50%;
        display: flex;
        justify-content: end;

        img {
            width: 70%;
            height: 70%;
        }
    }
}

#collection2 {
    height: 600px;

    div:nth-child(1) {
        width: 50%;
        display: flex;
        justify-content: start;
        margin-left: 7%;

        img {
            width: 70%;
            height: 70%;
        }
    }

    div:nth-child(2) {
        margin: 2% 0 0 0;
        height: 300px;
        width: 35%;
        display: flex;
        justify-content: start;
    }
}

#collection3 {
    background-image: url(/img/collection/wedding/footer_img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    height: auto;


}

/*Footer CSS*/
footer {
    padding: 30px 100px 10px 100px;
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
}

#others_info {
    a:hover {
        color: #F7B050;
    }

    a {
        color: white;
        text-decoration: none;
    }

}

#sercurity_contact {
    padding: 40px 0 0 0;
}

#sercurity {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: #F7B050;
    }
}

#contact {
    text-align: center;
}