<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Material</title>
</head>
<body>
    <h2>Add New Material</h2>
    <form action="/saveMaterial" method="post">
        <div>
            <label>Material Code:</label>
            <input type="text" name="materialCode" th:value="${material.materialCode}" required/>
        </div>
        <div>
            <label>Material Name:</label>
            <input type="text" name="materialName" th:value="${material.materialName}" required/>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
    <a href="/materials">Back to Materials</a>
    
</body>
</html>
