<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kira Jewelry</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/mainUP.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="mess-container" th:if="${param.await}">
        <div class="mess-content open" id="await-message">
            <div class="toast-header">
                <strong class="me-auto" style="color:#b18801">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>

            </div>
            <div class="toast-body" style="color:#01b101">
                <p>Thank you! Your payment is confirmed!</p>
            </div>
        </div>
    </div>

    <div class="mess-container" th:if="${param.success}">
        <div class="mess-content open" id="await-message">
            <div class="toast-header">
                <strong class="me-auto" style="color:#01b110">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>

            </div>
            <div class="toast-body" style="color:#b18801">
                <p>Thank you! Your payment is submitted!</p>
            </div>
        </div>
    </div>

    <div class="mess-container" th:if="${param.reject}">
        <div class="mess-content close" id="error-message">
            <div class="toast-header">
                <strong class="me-auto" style="color:#721c24">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>

            </div>
            <div class="toast-body" style="color:#b10101">
                <p>Thank you! We will make sure to update a new design for your jewelry!</p>
            </div>
        </div>
    </div>

    <!--Page header-->
    <div th:replace="fragments/homepage_header :: homepage_header_comp">
    </div>
    <div class="mess-container" th:if="${param.success}">
        <div class="mess-content open" id="success-message">
            <div class="toast-header">
                <strong class="me-auto" style="color:#155724">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>

            </div>
            <div class="toast-body" style="color:#01b12a">
                <p>Thank you! Your approval has been sent!</p>
            </div>
        </div>
    </div>

    <!--Page information-->
    <div class="container-fluid px-5">
        <div class="row">

            <div class="container-fluid w-50">
                <div class="wrapper-order-bank row justify-content-md-center mx-auto my-5">

                    <div class="top-title">
                        <h3>Bank Transfer</h3>
                        <p>Make bank transfer to the account details provided</p>
                    </div>

                    <div class="middle-content my-4 container-fluid">
                        <div class="d-flex info-box">
                            <p>Account number</p>
                            <p>1017578642</p>
                        </div>
                        <div class="d-flex info-box">
                            <p>Bank name</p>
                            <p>Techcombank</p>
                        </div>
                        <div class="d-flex info-box">
                            <p>Account name</p>
                            <p>KiRa Jewelry</p>
                        </div>

                    </div>
                    <div class="bottom">
                        <i class="fa fa-info-circle my-2">
                            <span>Only confirm if you have made transfer</span>
                        </i>

                        <form th:if="${productionOrder.status == 'Customized'}" th:action="@{/bankTransferHandleForCustomizeDeposit}" method="post">
                            <input type="hidden" name="productionOrderId"
                                th:value="${productionOrder.production_Order_Id}" />
                            <button type="submit" class="w-100 btn btn-danger">Confirm payment
                                <span th:text="${#numbers.formatDecimal(depositAmount, 1, 2)}"></span>
                            </button>
                        </form>
                        <form th:if="${productionOrder.status == 'Ordered(WP)'}" th:action="@{/bankTransferHandleForDeposit}" method="post">
                            <input type="hidden" name="productionOrderId"
                                th:value="${productionOrder.production_Order_Id}" />
                            <button type="submit" class="w-100 btn btn-danger">Confirm deposit
                                <span th:text="${#numbers.formatDecimal(depositAmount, 1, 2)}"></span>
                            </button>
                        </form>
                        <form th:if="${productionOrder.status == 'Completed'}" th:action="@{/bankTransferHandleForLastPayment}" method="post">
                            <input type="hidden" name="productionOrderId"
                                th:value="${productionOrder.production_Order_Id}" />
                            <button type="submit" class="w-100 btn btn-danger">Confirm last payment
                                <span th:text="${#numbers.formatDecimal(depositAmount, 1, 2)}"></span>
                            </button>
                        </form>
                        <a class="w-100 btn btn-secondary my-3"
                            th:href="@{/userCustomizedOrders(customerName=${session.customerName})}">Back to payment
                            methods</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Page footer-->
    <div th:replace="fragments/homepage_footer :: homepage_footer_comp"></div>
    <!--Page footer-->
    <script>
        function upload() {

            const fileUploadInput = document.querySelector('.file-uploader');

            if (!fileUploadInput.value) {
                return;
            }
            const image = fileUploadInput.files[0];
            if (!image.type.includes('image')) {
                return alert('Only images are allowed!');
            }
            if (image.size > 10_000_000) {
                return alert('Maximum upload size is 10MB!');
            }

            const fileReader = new FileReader();
            fileReader.readAsDataURL(image);

            fileReader.onload = (fileReaderEvent) => {
                const profilePicture = document.querySelector('.profile-picture');
                profilePicture.style.backgroundImage = `url(${fileReaderEvent.target.result})`;
            }
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const urlParams = new URLSearchParams(window.location.search);
            const successMessage = document.getElementById('await-message');
            const errorMessage = document.getElementById('error-message');

            if (urlParams.has('await')) {
                successMessage.classList.remove('close');
                successMessage.classList.add('open');
                setTimeout(() => {
                    successMessage.classList.remove('open');
                    successMessage.classList.add('close');
                }, 2000);
            }
        });

    </script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

</body>

</html>