/*Reset styles CSS*/
body,
h1,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #275430;
}

/*Header CSS*/
.header {
  color: black;
  padding: 20px;

  h1 {
    font-weight: 200;
    font-size: 2em;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-left: 10%;
  }

  .tools_header {
    display: inline-flex;
    gap: 2em;
    margin-right: 10%;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.home_categories {
  display: flex;
  justify-content: center;

  li {
    display: inline-block;
    margin: 0 120px 120px 0;
    align-items: center;

    a:hover {
      color: #f7b050;
    }

    a {
      text-decoration: none;
      color: black;
    }

    font-size: 1.2em;
  }
}
.wrapper {
  position: relative;

  .top-cover {
    padding: 30% 25%;
    background-color: #004313;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.25;
    z-index: -2;
  }

  .bottom-cover {
    padding: 12% 30%;
    background-color: #004313;
    position: absolute;
    right: 50px;
    top: 150%;
    opacity: 0.6;
    z-index: -2;
  }

  .top_img {
    width: 60%;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -3;
  }

  .header-content {
    position: absolute;
    right: 8%;
    top: 150%;
    z-index: -1;
    width: 25%;
    text-align: end;

    h1 {
      font-size: 5rem;
      font-family: "Baskerville";
    }

    p {
      margin-top: 3%;
      font-size: 1.75rem;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid #383838;
      padding: 10px 25px;
      text-transform: uppercase;
    }
  }
}

/*Footer CSS*/
footer {
  padding: 30px 100px 10px 100px;
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;
}

#others_info {
  a:hover {
    color: #f7b050;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

#sercurity_contact {
  padding: 40px 0 0 0;
}

#sercurity {
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #f7b050;
  }
}

#contact {
  text-align: center;
}
/*Main CSS*/
.spring-col-content {
  margin-top: 80%;
  .container {
    display: grid;
    grid-template-areas:
      "left left main main main"
      "left left s1 s1 s2"
      "left left s1 s1 s2"
      "left left s1 s1 s2";
    gap: 10px;
    .spring-header {
      height: 20%;
      text-align: end;
      margin: 7.5% 0;
      padding-top: 5%;
    }
    #under-img {
      margin-top: -17%;
    }
  }
}
.info-section {
  margin-top: 5%;

  h1 {
    margin-left: 5%;
    color: #f7b050;
  }
}
details {
  margin: 5% 10%;
}

summary:hover {
  color: #f7b050;
}

details > summary {
  font-size: 1.75rem;
  border-bottom: 1px solid #383838;
  cursor: pointer;
}

details > p {
  font-size: 1.5rem;
  padding: 10px;
  margin: 0;
}

details .btn-group {
  width: 100%;
}
.all-collection-sect {
  position: relative;
  text-align: center;

  img {
    width: 100%;
  }

  .sect-cover {
    padding: 21.5% 50%;
    background-color: #000000;
    position: absolute;
    opacity: 0.5;
  }
}

.sect-content {
  top: 40%;
  left: 15%;
  position: absolute;

  h1 {
    font-family: "Baskerville";
    color: #f7b050;
    font-size: 4rem;
  }

  p {
    margin-bottom: 5%;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 200;
  }

  a {
    margin: 2%;
    color: #ffffff;
    padding: 15px 25px;
    font-size: 1.75rem;
    font-weight: 500;
    background-color: #f7b050;
    text-decoration: none;
    border-radius: 10px;

    &:nth-of-type(1) {
      margin-left: 0;
    }
  }
}
