<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Staff Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/staff/manager.css}">
</head>

<body>

    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <div class="sidebar-logo">
                    <a th:href="@{#}">
                        <img th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2FlogoWhite.svg?alt=media&token=dcc77916-b3e2-4375-a549-c8aa9cb1f706}"
                            alt="logo"> <span>KIRA JEWELRY</span>
                    </a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class=" sidebar-item">
                    <a th:if="${session.employeeName != null}" th:onclick="|location.href='@{/homeSalesStaff}'|"
                        class="sidebar-link">
                        <img th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Fprofile.svg?alt=media&token=b7ae12eb-bbf2-4955-8fa4-d09e008098a5}"
                            alt="profile">
                        <span>Profile</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:if="${session.employeeName != null}" th:onclick="|location.href='@{/viewRequestsforSS}'|"
                        class="active sidebar-link">
                        <img th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Frequest.svg?alt=media&token=8af8e599-1257-42da-9698-92dab621d2b6}"
                            alt="request">
                        <span>Requests</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:if="${session.employeeName != null}" th:onclick="|location.href='@{/viewQuotesforSS}'|"
                        class="sidebar-link">
                        <img th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Fquote.svg?alt=media&token=33e7730e-7518-45c3-b27d-61d03118c2db}"
                            alt="quote">
                        <span>Quotes</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:if="${session.employeeName != null}" th:onclick="|location.href='@{/viewMaterialAndGem}'|"
                        class="sidebar-link">
                        <img th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Fproducts.svg?alt=media&token=3681d0ad-eeb7-4398-b1b2-17854b69fd5c}"
                            alt="materialAndGem">
                        <span>Material & Gem</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a th:href="@{/logout}" class="sidebar-link">
                    <img th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Flogout.svg?alt=media&token=a42d85ca-8e13-44a6-a054-a98137802c4e}"
                        alt="Logout">
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <div class="main">
            <div class="out">
                <div class="top-header">
                    <div class="first-ele">
                        <img th:src="@{/img/person/profile1.svg}" alt="person">
                        <span th:if="${session.employeeName != null}">
                            Welcome, <span th:text="${session.employeeName}"></span>
                        </span>
                    </div>
                </div>
            </div>
            <a class="text-decoration-none ms-4 me-4 my-3 text-white btn btn-secondary" th:href="@{/viewRequestsforSS}">
                Back to request list</a>
            <div class="content">
                <h1 class="my-0" style="text-align: center;">All Customer Requests</h1>
                <hr>

                <div th:each="productionOrder : ${listRequests}">
                    <div class="container-fluid container-fluid-one-request mb-5">
                        <h1>General Information</h1>
                        <div class="row mx-auto">
                            <div class="order-one col-md-6">
                                <div class="information">
                                    <h2>Production Order ID</h2>
                                    <p th:text="${productionOrder.production_Order_Id}"></p>
                                </div>
                                <div class="information">
                                    <h2>Customer ID</h2>
                                    <p th:text="${productionOrder.customer.customer_Id}"></p>
                                </div>
                                <div class="information">
                                    <h2>Date</h2>
                                    <p th:text="${#dates.format(productionOrder.date, 'yyyy-MM-dd')}"></p>
                                </div>
                                <div class="information">
                                    <h2>Category ID</h2>
                                    <p th:text="${productionOrder.category.category_Id}"></p>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <h1>Product Information</h1>

                        <div class="row mx-auto">
                            <div class="order-one col-md-6">
                                <div class="information">
                                    <h2>Description</h2>
                                    <p th:text="${productionOrder.description}"></p>
                                </div>
                            </div>
                            <div class="order-one col-md-6">
                                <div class="information">
                                    <h2>Product Size</h2>
                                    <p th:text="${productionOrder.product_Size}"></p>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <h1>Image</h1>
                        <div class="row mx-auto">
                            <div class="order-one col-md-6">
                                <div class="information mx-3">
                                    <div class="information">
                                        <div th:each="imageUrl : ${imagesByCustomerId}">
                                            <img th:src="${imageUrl}" alt="Production Order Image"
                                                style="max-width: 100%; height: auto;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mx-auto">
                            <h1>Staff Assignment</h1>
                            <div class="row mx-auto">
                                <div class="order-one col-md-6">
                                    <div class="information">
                                        <h2>Sales Staff</h2>
                                        <p th:text="${employee.full_Name}"></p>
                                    </div>
                                </div>
                                <div class="order-one col-md-6">
                                    <div class="information">
                                        <h2>Status</h2>
                                        <p th:text="${productionOrder.status}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/viewIngredientsPage}" method="get">
                            <div class="b-group">
                                <input type="hidden" name="productionOrderId"
                                    th:value="${productionOrder.production_Order_Id}" />
                                <input class="bg-dark text-white p-2 ps-4 pe-4 me-5" type="submit" value="Next">
                            </div>
                        </form>
                    </div>
                </div>




</body>

</html>