<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Home Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/staff/manager.css}">
    <style>
        #sidebar {
            background-color: rgb(167, 168, 166);
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <div class="sidebar-logo">
                    <a href="#">
                        <img th:src="@{/img/icon-fig/logoWhite.svg}" alt="logo">
                        <span>KIRA JEWELRY</span>
                    </a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a th:if="${session.customerName != null}" th:onclick="|location.href='@{/homeCustomer}'|"
                        class=" sidebar-link">
                        <img th:src="@{/img//icon-fig/profile.svg}" alt="profile">
                        <span>Profile</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:if="${session.customerName != null}" th:onclick="|location.href='@{/viewProductionOrder}'|"
                        class="active sidebar-link">
                        <img th:src="@{/img//icon-fig/request.svg}" alt="request">
                        <span>View Order</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a th:href="@{/logout}" class="sidebar-link">
                    <img th:src="@{/img/icon-fig/logout.svg}" alt="Logout">
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <div class="main">
            <div class="out">
                <div class="top-header">
                    <div class="first-ele">
                        <img th:src="@{/img/person/profile1.svg}" alt="person">
                        <span th:if="${session.customerName != null}">
                            Welcome, <span th:text="${session.customerName}"></span>
                        </span>
                    </div>
                    <img th:src="@{/img/icon-fig/notification.svg}" alt="notification">
                </div>
            </div>
            <div class="content">
                <h1>All Customer Production Orders</h1>
                <hr>
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Production Order ID</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="productionOrder : ${listPO}">
                                <td th:text="${productionOrder.production_Order_Id}"></td>
                                <td th:text="${#dates.format(productionOrder.date, 'yyyy-MM-dd')}"></td>
                                <td th:text="${productionOrder.status}"></td>
                                <td>
                                    <form th:action="@{/viewInformationPOForCustomer}" method="GET">
                                        <input type="hidden" name="productionOrderId"
                                            th:value="${productionOrder.production_Order_Id}" />
                                        <button class="text-decoation-none" type="submit">View</button>
                                    </form>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

</body>


</html>