<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Policy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
  </head>
  <body>
    <!--Page header-->
    <header th:replace="fragments/homepage_header :: homepage_header_comp">
      <script
        type="text/javascript"
        th:src="@{/js/component/general/homepage_header.js}"
      ></script>
    </header>

    <!-- Page information -->
    <div class="main-content container pt-5">
      <h1>Kira Jewelry Privacy Policy</h1>
      <hr />
      <p>
        This privacy policy (the “Policy”) describes how Kira Jewelry (“Kira
        Jewelry”, “we”, “our”, or “us”) collect, use, and disclose consumers
        personal information, including information collected in our retail
        locations and through our website (“Kira Jewelry) (and all other
        websites, mobile sites, services, applications, platforms, and tools
        where this Policy appears or is linked) (collectively, the “Services”).
        To the maximum extent permitted by law, by providing personal
        information to us (by any means, whether in a store, in correspondence,
        via our Website, phone, or otherwise) you consent to our use of the
        personal information you provide in accordance with this Policy. If you
        do not agree with this Policy or our practices, please do not use our
        Services.
      </p>
      <hr />
      <h4>Personal Information Collected by Kira Jewelry</h4>
      <strong>
        <p>
          Any Personal Information Described in Subdivision (e) of Cal. Civ.
          Code Section 1798.80, including:
        </p>
      </strong>
      <p>
        <span><strong>Demographic Information: </strong></span>This includes
        information you provide regarding your personal interests, date of
        birth, anniversary date, demographics, experiences with our products,
        and shopping and contact preferences. This data will be sold or shared
        as described in more detail in our Policy.
      </p>
      <p>
        <span><strong>Financial Account Information: </strong></span>If you make
        a purchase from us, we collect payment-related information, depending on
        the form of payment you choose. This data will not be sold or shared.
      </p>
      <p>
        <span
          ><strong
            >Information You Provide When You Apply for Credit:
          </strong></span
        >This includes information you are required to provide when applying for
        credit, such as your name, postal address, email address, phone number,
        date of birth, and other information needed to assess your
        creditworthiness and verify your identity, including employment-related
        information and sensitive personal information, such as your social
        security number. With the exception of employment-related information
        and sensitive personal information, this data will be sold or shared as
        described in more detail in our Policy.
      </p>
      <p>
        <span
          ><strong>Information You Provide about a Third Party: </strong></span
        >
        If you send someone else a communication from the Services, such as
        sending an invitation to refer a friend, the information you provide
        (e.g., name, email address) will be used to facilitate the
        communication. This includes any other information you provide about a
        third party, such as your partner’s birthday. This data will be sold or
        shared as described in more detail in our Policy.
      </p>
      <p>
        <span
          ><strong>Information You Provide Through Social Media: </strong></span
        >You may also be given the option to link to your social media account
        through the Services. When you do, we may automatically receive certain
        information about you based on your registration and privacy settings on
        those third-party services. This may include name, username, demographic
        information, protected classifications under California or federal law,
        education information, professional or employment-related information,
        updated postal address or contact information, location, interests, and
        publicly-observed data, such as from social media and online activity.
        With the exception of protected classifications under California or
        federal law, education information, and professional or
        employment-related information, this data will be sold or shared as
        described in more detail in our Policy.
      </p>
      <p>
        <span
          ><strong
            >Characteristics of Protected Classifications under California or
            Federal Law:
          </strong></span
        >This includes your age, gender, and marital status. This data will not
        be sold or shared.
      </p>
      <p>
        <span><strong>Commercial Information: </strong></span>
        This includes purchase, return, wish list and transaction information,
        as well as media consumption, previous purchases, shopping habits,
        loyalty program information, and lifestyle preferences. This data will
        be sold or shared as described in more detail in our Policy.
      </p>
      <p>
        <span><strong>Education Information: </strong></span>
        This includes information you provide in relation to your education.
        This data will not be sold or shared.
      </p>
      <hr />
      <h4>
        What are the purposes for which we collect and use your personal
        information?
      </h4>
      <p>
        We may use the personal information that we collect for a variety of
        business and commercial purposes, including:
      </p>
      <ul>
        <li>To provide the Services to you</li>
        <li>To review or improve the usage and operations of our Services</li>
        <li>
          To improve or develop new services and product offerings, including
          for warranty usage
        </li>
        <li>To analyze trends</li>
        <li>To administer and track the users' movement around the Website</li>
        <li>
          To provide you with customized content, targeted offers, and
          advertising on the Website and across other third-party sites, and to
          determine the effectiveness of promotional campaigns
        </li>
        <li>To allow you to create an account on our Website</li>
        <li>To process your order (e.g., regarding design customization)</li>
        <li>To send you the purchased products</li>
        <li>
          To send you a post-sale request for a review of the product(s) you
          purchased
        </li>
        <li>To process your instruction regarding hints you choose to drop</li>
        <li>To process your “refer a friend” request</li>
        <li>To process your request to share photos</li>
        <li>
          To send you marketing communications (including, to add you to the
          mailing list and to send you SMS), consistent with your consent
        </li>
        <li>
          To send you information that we believe that is relevant or of
          interest to you
        </li>
        <li>
          To process your request to be part of the Kira Jewelry Affiliate
          Program
        </li>
        <li>
          To process your request to be part of the Kira Jewelry Content Creator
          Program
        </li>
        <li>
          To process your request to be part of the Kira Jewelry Influencer
          Program
        </li>
        <li>To process your answers to the voluntary surveys</li>
        <li>To process and share your “engagement moment”</li>
        <li>
          To send you a copy of your “engagement moment” (if requested by you)
        </li>
        <li>
          To publish your engagement story on our website or Kira Jewelry
          channels (e.g., social networks, consistent with your consent)
        </li>
        <li>To process your review of our products/services</li>
        <li>To analyze your experience with Kira Jewelry</li>
        <li>To analyze your experience with Kira Jewelry after the purchase</li>
        <li>
          To share/publish your photo on our social media channels (with your
          consent)
        </li>
        <li>To answer your questions and to provide you with support</li>
        <li>
          To allow you to enter sweepstakes and/or promotions that you sign up
          for (e.g., to receive a discount code)
        </li>
        <li>To customize your experience and preferences</li>
        <li>To contact our service providers</li>
        <li>
          To perform the applicable agreement with you (e.g., Kira Jewelry Terms
          & Conditions)
        </li>
        <li>
          To shoot a photo in the Digital Photo Booth in our store and to send
          you the photo by email and/or SMS
        </li>
        <li>
          To reply and/or respond to your request or question on our social
          media profiles (e.g., Facebook, Instagram, Twitter, LinkedIn)
        </li>
      </ul>
    </div>

    <!--Page footer-->
    <div th:replace="fragments/homepage_footer :: homepage_footer_comp"></div>
    <script>
      window.onscroll = function () {
        myFunction();
      };

      var header = document.getElementById("myHeader");
      var sticky = header.offsetTop;

      function myFunction() {
        if (window.scrollY > sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
    </script>
    <!--Page footer-->
    <script
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js}"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
