<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kira Jewelry</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/mainUp.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
    <!--Page header-->
    <div th:replace="fragments/homepage_header :: homepage_header_comp">
    </div>

    <!--Page information-->
    <div class="container-fluid px-5">
        <div class="row">
            <div th:replace="~{fragments/customerSideNavbar/sideNavbar :: side-Navbar}" class="col-md-3">
                <!-- <aside id="sidebar">
                    <ul class="sidebar-nav">
                        <li class="sidebar-item">
                            <a th:href="@{/profile(CustomerId=${session.customerId})}" class="sidebar-link">
                                <span>Profile</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a th:href="@{/userHistoryOrders}" class="sidebar-link mainUp">
                                <span>History Orders</span>
                            </a>
                        </li>
                        <li class="active-mainUp sidebar-item">
                            <a class="sidebar-link mainUp collapsed has-dropdown" data-bs-toggle="collapse"
                                data-bs-target="#auth1" aria-expanded="false" aria-controls="auth1">
                                <span>Current Order</span>
                            </a>
                            <ul id="auth1" class="dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a th:href="@{/userRequests}" class="sidebar-link mainUp">Requests</a>
                                </li>
                                <li class="sidebar-item">
                                    <a th:href="@{/userQuotes}" class="active-mini-link sidebar-link mainUp">Quotes</a>
                                </li>
                                <li class="sidebar-item">
                                    <a th:href="@{/userOrders}" class="sidebar-link mainUp">Orders</a>
                                </li>
                                <li class="sidebar-item">
                                    <a th:href="@{/userCustomizedOrders}" class="sidebar-link mainUp">Customized
                                        Jewelry</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside> -->
            </div>
            <div class="col-md-9">
                <div class="quote container-fluid px-5">
                    <h1 class="my-5">Quote Section</h1>
                    <div class="content">
                        <div class="wrapper-order">
                            <h3>General Information</h3>
                            <table class="border-0">
                                <tr>
                                    <td><label for="">Customer ID</label></td>
                                    <td><span th:text="${customer.customer_Id}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Full Name</label></td>
                                    <td><span th:text="${customer.full_Name}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Phone Number</label></td>
                                    <td><span th:text="${customer.phoneNumber}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Address</label></td>
                                    <td><span th:text="${customer.address}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Email</label></td>
                                    <td><span th:text="${customer.user.email}"></span></td>
                                </tr>
                            </table>

                        </div>
                        <div class="wrapper-order my-5">
                            <h3>Material Information</h3>
                            <table class="border-0">
                                <tr>
                                    <td><label for="">Material Code</label></td>
                                    <td><span th:text="${material.material_Code}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Material Name</label></td>
                                    <td><span th:text="${material.material_Name}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Weight</label></td>
                                    <td><span th:text="${productMaterial.material_Weight}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Price</label></td>
                                    <td><span th:text="${productMaterial.q_Price}"></span> - (<span
                                            th:text="${materialPriceList.price}"></span>/mace)</td>
                                </tr>
                                <tr>
                                    <td><label for="">Eff Date</label></td>
                                    <td><span th:text="${materialPriceList.eff_Date}"></span></td>
                                </tr>

                            </table>
                        </div>

                        <div class="wrapper-order">
                            <h3>Diamond Information</h3>
                            <table class="border-0">
                                <tr>
                                    <td><label for="">Diamond Code</label></td>
                                    <td><span th:text="${diamond.dia_Code}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Diamond Name</label></td>
                                    <td><span th:text="${diamond.dia_Name}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Origin</label></td>
                                    <td><span th:text="${diamond.origin}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Carat Weight</label></td>
                                    <td><span th:text="${diamond.carat_Weight}"></span> </td>
                                </tr>
                                <tr>
                                    <td><label for="">Color</label></td>
                                    <td><span th:text="${diamond.color}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Clarity</label></td>
                                    <td><span th:text="${diamond.clarity}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Cut</label></td>
                                    <td><span th:text="${diamond.cut}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Proportions</label></td>
                                    <td><span th:text="${diamond.proportions}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Polish</label></td>
                                    <td><span th:text="${diamond.polish}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Symmetry</label></td>
                                    <td><span th:text="${diamond.symmetry}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Fluorescence</label></td>
                                    <td><span th:text="${diamond.fluorescence}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Price</label></td>
                                    <td><span th:text="${diamond.q_Price}"></span>- (<span
                                            th:text="${diamondPriceList.carat_Weight_From}"></span> - <span
                                            th:text="${diamondPriceList.carat_Weight_To}"></span> => <span
                                            th:text="${diamondPriceList.price}"></span>)</td>
                                </tr>
                                <tr>
                                    <td><label for="">Eff Date</label></td>
                                    <td><span th:text="${diamondPriceList.eff_Date}"></span></td>
                                </tr>
                            </table>
                        </div>

                        <div class="wrapper-order my-5">
                            <h3>Other Information</h3>
                            <table class="border-0">
                                <tr>
                                    <td><label for="">Production Price</label></td>
                                    <td><span th:text="${productionOrder.q_Production_Amount}"></span></td>
                                </tr>
                                <tr>
                                    <td><label for="">Total price</label></td>
                                    <td><span th:text="${productionOrder.q_Total_Amount}"></span></td>
                                </tr>

                            </table>
                        </div>
                        <div th:if="${productionOrder.status == 'Quoted(WC)'}" class="group-link my-4">
                            <a class="btn btn-secondary fw-bold mx-3 col-3"
                                th:href="@{/customerAcceptQuote(production_Order_Id=${productionOrder.production_Order_Id})}">
                                Approve
                            </a>
                            <a class="btn btn-warning fw-bold mx-3 col-3" data-bs-toggle="modal"
                                data-bs-target="#Reject">Reject</a>
                            <a href="#" class="btn btn-danger fw-bold mx-3 col-3" data-bs-toggle="modal"
                                data-bs-target="#Delete">Delete</a>
                            <div class="modal fade" id="Delete">
                                <div class=" modal-dialog modal-xl">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">This is just a confirm message</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <p>Are you sure to delete this production order?</p>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <form th:action="@{/deleteProductionOrder}" method="post">
                                                <input type="hidden" name="productionOrderId"
                                                    th:value="${productionOrder.production_Order_Id}" />
                                                <button class="btn btn-danger" type="submit">Yes</button>
                                                <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="Reject">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">This is just a confirm message</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <p>Are you sure to reject this production order?</p>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <a
                                            th:href="@{/customerRejectQuote(production_Order_Id=${productionOrder.production_Order_Id})}">
                                            <button class="btn btn-danger fw-bold" type="button">Yes</button>
                                        </a>
                                        <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-note">
                        <div class="note">
                            <p>Note</p>
                            <p>
                                As the main material price and diamond price is updated by time,
                                today's quote will be different from tomorrow's quote</p>
                            <p>
                                You will find the link to the prior quotes to compare with the updated quote.
                            </p>
                            <p>The quote you choose will be the final one. You can <span>NOT</span>
                                choose the prior quotes.
                            </p>
                            <p>The maximum number of quotes is <span>7 quotes</span>. After 7 days, your request will be
                                automatically canceled
                            </p>
                            <p>
                                Please choose the best deal as soon as possible.
                                Or if you have some issue with the quote, please leave us the reason
                                for us to support you as soon as possible
                            </p>
                            <p>Thank you for choosing our service!</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Page footer-->
    <div th:replace="fragments/homepage_footer :: homepage_footer_comp"></div>
    <!--Page footer-->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>