<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kira Jewelry - Request</title>
</head>

<body>
    <div class="container">
        <div>
            <span th:if="${session.customerName != null}">
                Welcome, <span th:text="${session.customerName}"></span> |
                <a th:href="@{/logout}">Log out</a>
            </span>
        </div>
        <hr />

        <div>
            <h2>Form Order Jewelry</h2>
            <form th:action="@{/submitRequest}" method="post">
                <div><label for="customer_Id">Customer Id</label><br />
                    <input type="text" name="customer_Id" id="customer_Id" th:value="${session.customerId}" disabled>

                </div>
                <div>
                    <label for="full_Name">Your name</label><br />
                    <input type="text" name="full_Name" id="full_Name" th:value="${session.customerName}" disabled>
                </div>
                <div>
                    <label for="phoneNumber">Phone number</label><br />
                    <input type="number" name="phoneNumber" id="phoneNumber" th:value="${session.customerPN}" disabled>
                </div>
                <div>
                    <label for="category">Category</label>
                    <select name="category" id="category">
                        <option th:each="category : ${categories}" th:value="${category.category_Id}"
                            th:text="${category.category_Name}"></option>
                    </select>
                </div>
                <div>
                    <label for="productSize">Product size</label>
                    <input type="number" name="productSize" id="productSize">
                </div>
                <hr />
                <b>Material</b>
                <div>
                    <label for="material_Name">Material Name</label><br />
                    <input type="text" name="material_Name" id="material_Name">
                </div>
                <div>
                    <label for="material_Color">Material Color</label><br />
                    <input type="text" name="material_Color" id="material_Color">
                </div>
                <div>
                    <label for="material_Weight">Material Weight</label><br />
                    <input type="number" name="material_Weight" id="material_Weight">
                </div>
                <hr />
                <b>Gem Stone</b>
                <div>
                    <label for="gem_Name">Gem Name</label><br />
                    <input type="text" name="gem_Name" id="gem_Name">
                </div>
                <div>
                    <label for="gem_Color">Gem Color</label><br />
                    <input type="text" name="gem_Color" id="gem_Color">
                </div>
                <div>
                    <label for="gem_Weight">Gem Weight</label><br />
                    <input type="number" name="gem_Weight" id="gem_Weight">
                </div>
                <hr />
                <div>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <button type="submit">Send request</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>