<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kira Jewelry - Request</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">

    <!-- <style>
        .btn-customize {
            padding: 10px 20px;
            background-color: #f09f0a;
            border-radius: 5px;
            transition: 0.25s ease-in-out;
            outline: none;
            border: none;
            color: #FFFFFF;
        }

        .btn-customize:hover {
            background-color: transparent;
            border: 1px solid #f09f0a;
            color: #f09f0a
        }

        .mess-container {
            .mess-content {
                position: fixed;
                top: 20px;
                right: 35px;
                z-index: 999;
                background-color: #FFFFFF;
                width: 30%;
                padding: 5px 20px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
                border-radius: 4px;
                transition: transform 0.75s ease-in-out;
            }
        }

        .close {
            transform: translateX(120%);
        }

        .open {
            transform: translateX(-20%);
        }
    </style> -->
</head>

<body>
    <header id="myHeader">
        <div class="top_header">
            <h1 class="header_logo">
                <a th:href="@{/}"><img
                        src="https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Fblack_logo.svg?alt=media&token=b672998d-28c9-4188-b286-6af5bb795cb3" />Kira
                    Jewelry</a>
            </h1>
            <div class="tools_header">
                <div>
                    <span th:if="${session.customerName != null}">
                        <a th:href="@{/userRequests(customerName=${session.customerName})}"> Welcome, <span
                                th:text="${session.customerName}"></span></a>
                        |
                        <a th:href="@{/logout}">Log out</a>
                    </span>
                    <span th:if="${session.customerName == null}">
                        <a th:href="@{/login}">
                            Log in</a>
                    </span>
                </div>

                <a th:href="@{/currentOrder}" class="cart"><img
                        src="https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Fblack_cart.svg?alt=media&token=b79e4ef7-a49e-4416-85b3-eb38590289d7" /></a>
                <a th:href="@{/}" class="search"><img
                        src="https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Fblack_search.svg?alt=media&token=71222c1c-6604-40cb-baa6-2fb70903709b" /></a>
            </div>
        </div>
        <nav class="home_categories">
            <ul>
                <li><a class="active-link" th:href="@{/}">Home</a></li>
                <li>
                    <a th:href="@{/}">Blogs</a>
                </li>
                <li>
                    <a th:href="@{/}">Collections</a>
                </li>
                <li class="active dropdown">
                    <a th:href="@{/currentOrder}" class="navbar-link collapsed has-dropdown" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span>Jewelry</span>
                    </a>
                    <ul class="dropdown-menu list-unstyled collapse" id="menu-items">
                        <li class="dropdown-item">
                            <a th:href="@{/request}" th:if="${session.customerName != null}" class="sidebar-link">
                                Order Jewelry Now
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a th:href="@{/chooseCategory}" th:if="${session.customerName != null}"
                                class="sidebar-link">
                                Customize Your Jewelry
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a th:href="@{/userOrders}" class="sidebar-link">All Jewelry</a>
                        </li>
                    </ul>
                </li>
                <li class="active dropdown">
                    <a th:href="@{/}" class="navbar-link collapsed has-dropdown" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span>Diamonds</span>
                    </a>
                    <ul class="dropdown-menu list-unstyled collapse" id="menu-items">
                        <li class="dropdown-item">
                            <a th:href="@{/customerDiamondsPage}" th:if="${session.customerName != null}"
                                class="sidebar-link">
                                All Diamonds
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a th:href="@{/viewCustomerDiaPriceListPage}" th:if="${session.customerName != null}"
                                class="sidebar-link">
                                Diamonds Price List
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="active dropdown">
                    <a th:href="@{/}" class="navbar-link collapsed has-dropdown" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span>Materials</span>
                    </a>
                    <ul class="dropdown-menu list-unstyled collapse" id="menu-items">
                        <li class="dropdown-item">
                            <a th:href="@{/viewCustomerMaterialsPage}" th:if="${session.customerName != null}"
                                class="sidebar-link">
                                All Materials
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a th:href="@{/viewCustomerMaterialPriceListPage}" th:if="${session.customerName != null}"
                                class="sidebar-link">
                                Materials Price List
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a th:href="@{#education}">Education</a></li>
            </ul>
        </nav>
    </header>

    <div class="mess-container" th:if="${param.success}">
        <div class="mess-content open" id="success-message">
            <div class="toast-header">
                <strong class="me-auto" style="color:#155724">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>

            </div>
            <div class="toast-body" style="color:#01b12a">
                <p>Sending Request Successfully</p>
            </div>
        </div>
    </div>

    <div class="mess-container" th:if="${param.error}">
        <div class="mess-content close" id="error-message">
            <div class="toast-header">
                <strong class="me-auto" style="color:#721c24">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>

            </div>
            <div class="toast-body" style="color:#b10101">
                <p>Sending Request Failed</p>
            </div>
        </div>
    </div>
    <div class="container container-request">
        <!--Order Form-->
        <div id="order" class="row">
            <h1>
                Order Your <span style="color: #f09f0a">Own Jewelry Today!</span>
            </h1>
            <div class="col-md-5">
                <h2>Contact Our Team</h2>
                <form th:action="@{/submitRequest}" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <label for="customer_Id">Customer Id</label><br />
                        <input type="text" name="customer_Id" id="customer_Id" th:value="${session.customerId}"
                            disabled>
                    </div>
                    <div class="row">
                        <label for="full_Name">Your name</label><br />
                        <input type="text" name="full_Name" id="full_Name" th:value="${session.customerName}" disabled>
                    </div>
                    <div class="row">
                        <label for="phoneNumber">Phone number</label><br />
                        <input type="number" name="phoneNumber" id="phoneNumber" th:value="${session.customerPN}"
                            disabled>
                    </div>
                    <div class="row">
                        <label for="category">Category</label>
                        <select name="category" id="category">
                            <option th:each="category : ${categories}" th:value="${category.category_Id}"
                                th:text="${category.category_Name}"></option>
                        </select>
                    </div>
                    <div class="row">
                        <label for="productSize">Product size</label>
                        <input type="number" name="productSize" id="productSize"
                            placeholder="Ring Size (14-25mm), Other (35-140cm)" required>
                    </div>

                    <div class="row">
                        <label for="text">Anything else we need to know</label>
                        <textarea name="description" id="description" cols="20" rows="5" required></textarea>
                    </div>
                    <div class="row my-2">
                        <label for="file">Upload image: </label>
                        <input class="form-control" type="file" id="file" name="file"
                            accept="image/png, image/svg, image/jpeg" required /><br />
                        <button type="submit" class="btn-customize my-4">Send request</button>

                    </div>

            </div>
            <div class="col-md-6">
                <div id="img_container" class="row">
                    <div class="col-md-3">
                        <img id="img"
                            th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FContact_Order%2F1.svg?alt=media&token=19b182e8-7e77-4230-9833-acf0f86848da}" />
                        <img id="img"
                            th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FContact_Order%2F4.svg?alt=media&token=35c86c2b-6c19-43fd-bf44-8c6435a86644}" />
                    </div>
                    <div class="col-md-3">
                        <img id="img"
                            th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FContact_Order%2F2.svg?alt=media&token=fd966458-c58f-4773-8f77-80817812c7ce}" />
                        <img id="img"
                            th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FContact_Order%2F5.svg?alt=media&token=284f30aa-b793-4052-8451-2863d46e9afd}" />
                    </div>
                    <div class="col-md-3">
                        <img id="img"
                            th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FContact_Order%2F3.svg?alt=media&token=3cfa7f21-847a-42e5-a5fe-7cbcc1886e67}" />
                        <img id="img"
                            th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FContact_Order%2F6.svg?alt=media&token=2d337fea-d5aa-41b4-8385-91c2414e8e13}" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Page footer-->
    <footer>
        <div class="container-fluid">
            <div id="others_info" class="row">
                <div class="footer col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="footer_logo">
                                <img th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Fwhite_logo.svg?alt=media&token=0d784ec8-4a47-46f3-a9d6-a1dc153da10b}"
                                    class="logo" /> Kira
                                Jewelry
                            </h2>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <p>Hotline: 123123123</p>
                                <p>Address: 12AS, Austin, 123</p>
                                <p>Email: abc1234@fpt.edu.vn</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <h4><a th:href="@{#policy}">Policy</a></h4>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <li><a th:href="@{#}">Return and Refund</a></li>
                                    <li><a th:href="@{#}">Cancellation</a></li>
                                    <li><a th:href="@{#}">Delivery</a></li>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <h4><a th:href="@{#resources}">Resources</a></h4>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <li><a th:href="@{#}">Gold price</a></li>
                                    <li><a th:href="@{#}">Blogs</a></li>
                                    <li><a th:href="@{#}">Jewelry price</a></li>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <h4><a th:href="@{#company}">Company</a></h4>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <li><a th:href="@{#about}">About</a></li>
                                    <li><a th:href="@{#}">Join us</a></li>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <h4><a th:href="@{#support}">Support</a></h4>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <li><a th:href="@{#}">Help center</a></li>
                                    <li><a th:href="@{#}">Chat support</a></li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sercurity_contact" class="row">
                <div class="copyright col-md-4">
                    <p>&copy; 2022 Kira Jewelry, Inc</p>
                </div>
                <div id="sercurity" class="copyright col-md-4">
                    <a th:href="@{#privacy}">Privacy</a>
                    <a th:href="@{#terms}">Terms</a>
                    <a th:href="@{#sitemap}">Sitemap</a>
                </div>
                <div id="contact" class="copyright col-md-4">
                    <div class="contact_footer">
                        <a class="twitter"><img
                                th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Ffooter%2Ftwitter.svg?alt=media&token=10ac99d3-ad24-49fa-be3c-858e3df5be3d}" /></a>
                        <a class="facebook"><img
                                th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Ffooter%2Ffacebook.svg?alt=media&token=cfd900e2-2b26-4b79-9753-a40a98b6d4bd}" /></a>
                        <a class="linkedin"><img
                                th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Ffooter%2FlinkedIn.svg?alt=media&token=719b6dc3-faff-4e09-a3ce-76cf963e3c84}" /></a>
                        <a class="youtube"><img
                                th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Ffooter%2Fyoutube.svg?alt=media&token=c5560932-c276-45fa-91ec-cddee11ce57c}" /></a>
                        <a class="instagram"><img
                                th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Ffooter%2Finstagram.svg?alt=media&token=9b0f029f-d6b1-4249-a999-6f92488d0b6e}" /></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const urlParams = new URLSearchParams(window.location.search);
            const successMessage = document.getElementById('success-message');
            const errorMessage = document.getElementById('error-message');
            const logoutMessage = document.getElementById('logout-message');

            if (urlParams.has('success')) {
                successMessage.classList.remove('close');
                successMessage.classList.add('open');
                setTimeout(() => {
                    successMessage.classList.remove('open');
                    successMessage.classList.add('close');
                }, 2000);
            } else if (urlParams.has('error')) {
                errorMessage.classList.remove('close');
                errorMessage.classList.add('open');
                setTimeout(() => {
                    errorMessage.classList.remove('open');
                    errorMessage.classList.add('close');
                }, 2000);
            }
        });
        window.onscroll = function () { myFunction() };
        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;
        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>