<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <span th:if="${session.employeeName != null}">
            Welcome, <span th:text="${session.employeeName}"></span> |
            <a th:href="@{/logout}">Log out</a>
        </span>
    </div>
</body>

</html>