<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diamond Price List</title>
</head>
<body>

<div>
    <a href="/index.html">Home</a>
    <h1>Diamond Price List</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Origin</th>
            <th>Carat Weight From</th>
            <th>Carat Weight To</th>
            <th>Color</th>
            <th>Clarity</th>
            <th>Cut</th>
            <th>Price</th>
            <th>Effective Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="diamond : ${diamondPriceList}">
            <td th:text="${diamond.id}"></td>
            <td th:text="${diamond.origin}"></td>
            <td th:text="${diamond.caratWeightFrom}"></td>
            <td th:text="${diamond.caratWeightTo}"></td>
            <td th:text="${diamond.color}"></td>
            <td th:text="${diamond.clarity}"></td>
            <td th:text="${diamond.cut}"></td>
            <td th:text="${diamond.price}"></td>
            <td th:text="${#dates.format(diamond.effDate, 'yyyy-MM-dd')}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
