<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diamond List</title>
</head>
<body>

<div>
    <a href="/index.html">Home</a>
    <h1 >Diamond List</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Origin</th>
            <th>Carat_Weight</th>
            <th>Color</th>
            <th>Clarity</th>
            <th>Cut</th>
            <th>Proportions</th>
            <th>Polish</th>
            <th>Symmetry</th>
            <th>Fluorescence</th>

            <th>Img_Url</th>
            <th>Q_Price</th>
            <th>O_Price</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="diamond : ${diamonds}"  th:if = "${diamond.status == true}">
            <td th:text = "${diamond.diaId}"></td>
            <td th:text = "${diamond.diaCode}"></td>
            <td th:text = "${diamond.diaName}"></td>
            <td th:text = "${diamond.origin}"></td>
            <td th:text = "${diamond.caratWeight}"></td>
            <td th:text = "${diamond.color}"></td>
            <td th:text = "${diamond.clarity}"></td>
            <td th:text = "${diamond.cut}"></td>
            <td th:text = "${diamond.proportions}"></td>
            <td th:text = "${diamond.polish}"></td>
            <td th:text = "${diamond.symmetry}"></td>
            <td th:text = "${diamond.fluorescence}"></td>
            <td th:text = "${diamond.imgUrl}"></td>
            <td th:text = "${diamond.qPrice}"></td>
            <td th:text = "${diamond.oPrice}"></td>

        </tr>
        </tbody>

    </table>




</div>

</body>
</html>