<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Material List</title>
</head>
<body>

<div>
    <a href="/index.html">Home</a>
    <h1>Material List</h1>
    <table>
        <thead>
        <tr>
            <th>Material_Id</th>
            <th>Material_Name</th>
            <th>Price</th>
            <th>Eff_Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="material : ${materialsPriceList}">
            <td th:text="${material.materialId}"></td>
            <td th:text="${material.materialName}"></td>
            <td th:text="${material.price}"></td>
            <td th:text="${#dates.format(material.effDate, 'yyyy-MM-dd')}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>