/* ADMIN ALL CUSTOMERS PAGE */
.table-responsive {
    margin: 5%;
}

.admin-customers {
    width: 100%;

    .slStatus {
        font-size: 0.75rem;
        width: 70%;
        background-color: #F9F9FA;
        border: 1px solid #1B8633;
        border-radius: 50px;
        color: #1B8633;
        cursor: pointer;
    }
}

.container-fluid {
    margin: 0% 5%;
    width: 100%;
    background-color: #F9F9FA;
    box-shadow: none;

    img {
        width: 100%;
    }

    input,
    label {
        font-size: 0.75rem;
    }

}

.btn-group {
    margin-left: 10%;
    margin-top: 10%;

    a {
        margin-right: 10%;
        padding: 10px 30px;
        background-color: #424955;
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 4px;

        &:nth-child(2) {
            margin-left: 0;
            background-color: #A11A33;
        }
    }

}

.btn-group a:hover {
    background-color: #3b7ddd;
}

/* ONE PRODUCT */

.adCategory {
    font-size: 0.75rem;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
    width: 26%;
}

