/* ADMIN PROFILE */

#auth,
#auth1 {

    .sidebar-item a {
        color: #565E6C;
        font-size: 0.8rem;
    }

    .sidebar-item a:hover {
        color: #00BDD6;
    }
}

/* ADMIN ALL CUSTOMERS PAGE */
.table-responsive {
    margin: 5%;
}

.admin-customers {
    width: 100%;

    .slStatus {
        font-size: 0.75rem;
        width: 70%;
        background-color: #F9F9FA;
        border: 1px solid #1B8633;
        border-radius: 50px;
        color: #1B8633;
        cursor: pointer;
    }
}