/* Manager REQUEST */


.container-fluid {
    table {

        th,
        td {
            &:nth-child(1) {
                width: 480px;
                height: 40px;
            }
        }
    }

    margin-top: 5%;
}

.slStatus1 {
    font-size: 0.75rem;
    width: 70%;
    background-color: none;
    border: 1px solid #1D2128;
    border-radius: 30px;
    color: #1D2128;
    text-align: center;
    cursor: pointer;
}

/* Manager Quotes */
.title {
    text-align: center;
}

.quote {
    margin-top: 0;

}

.manager-quotes {
    table {
        margin: 0;
        margin: 5% 2% 2% 2%;

        thead {
            font-size: 1.5rem;
        }

        td {
            font-size: 1.25rem;
            vertical-align: middle;
        }

        td a {
            margin: 4%;

            &:nth-child(1) {
                padding-right: 20px;
                border-right: none;
            }
        }
    }
}

.right-container-box {
    margin-left: 10%;
}

.container-fluid-one-request {
    .col-md-12 {
        width: 70%;
    }
}

/* .col-md-6 {
    width: 47%;
} */

/* MANAGER ASSIGN TASK */

.prompt-assign {
    margin: 0 5%;
    margin-top: 5%;

    p {
        &:nth-of-type(1) {
            display: inline-block;
            width: 120px;
            font-weight: 600;
            font-size: 1.25rem;
        }
    }
}

.manager-task {
    text-align: center;
    margin-bottom: 5%;

    .task {
        margin: 4%;

        h2 {
            font-size: 1.25rem;
            font-weight: 600;
            text-align: center;
        }

        img {
            margin-right: 7%;
        }
    }

    .dropdown button {
        font-size: 1rem;
        width: auto;
        padding: 1% 10%;
        background-color: #FFFFFF;
        color: #1D2128;
        outline: none;
        border: none;
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }

    .dropdown-menu {
        width: 30%;
        right: 0;
        left: auto;
    }

    .dropdown-menu-end {
        right: 0;
        left: auto;
    }

    .push-down1,
    .push-down2,
    .push-down3 {
        transition: margin-top 0.8s ease-in-out;
    }
}

.manager-btn {
    a {
        margin: 4%;
        padding: 1% 6%;
        font-size: 1rem;
        font-weight: 700;
        color: #FFFFFF;
        border-radius: 4px;

        &:nth-child(1) {
            background-color: #383838;
        }

        &:nth-child(2) {
            background-color: #A11A33;

        }
    }
}

/* MANAGER DASHBOARD */
.dashboard {
    width: 100%;
    padding: 0;
    text-align: center;
    margin: auto;

    .col-md-3 {
        width: 21%;
        margin: 0 2%;
        background-color: #FFFFFF;
        text-align: left;
        padding: 2%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;

        .content-col {
            margin-top: 5%;

            h4 {
                font-size: 1rem;
                color: #99958D;
            }

            p {
                font-size: 1.25rem;
                font-weight: 700;
            }

            span {
                float: right;
                font-size: 1rem;
                border-radius: 10px;
                border: solid 1px #2CA14D;
                padding: 1% 2%;
                color: #2CA14D;
                background-color: #FCFAF9;
            }
        }
    }
}

.transaction-content {
    h1 {
        font-size: 1.5rem;
    }
}

/* MANAGER ALL MATERIALS */
.manager-all {
    td a {
        margin: 4%;

        &:nth-child(1) {
            padding-right: 20px;
            border-right: none;
        }
    }
}

.add-new-material {
    p {
        text-align: center;
    }
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    margin: 5% auto;
}

.info-msg {
    color: #059;
    background-color: #BEF;
}

.success-msg {
    color: #270;
    background-color: #DFF2BF;
}

.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
}

.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
}

