<!DOCTYPE html>
<html lang="en" xmlns:th="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Side Navbar</title>
  </head>
  <body>
    <div th:fragment="side-Navbar" class="col-md-3">
      <aside id="sidebar">
        <ul class="sidebar-nav">
          <li class="sidebar-item">
            <a
              th:href="@{/profile(CustomerId=${session.customerId})}"
              class="sidebar-link mainUp"
            >
              <span>Profile</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a th:href="@{/userHistoryOrders}" class="sidebar-link mainUp">
              <span>History Orders</span>
            </a>
          </li>
          <li class="active-mainUp sidebar-item">
            <a
              class="sidebar-link mainUp collapsed has-dropdown"
              data-bs-toggle="collapse"
              data-bs-target="#auth1"
              aria-expanded="false"
              aria-controls="auth1"
            >
              <span>Current Order</span>
            </a>
            <ul
              id="auth1"
              class="dropdown list-unstyled collapse"
              data-bs-parent="#sidebar"
            >
              <li class="sidebar-item">
                <a
                  th:href="@{/userRequests}"
                  class="active-mini-link sidebar-link mainUp"
                  >Requests</a
                >
              </li>
              <li class="sidebar-item">
                <a th:href="@{/userQuotes}" class="sidebar-link mainUp"
                  >Quotes</a
                >
              </li>
              <li class="sidebar-item">
                <a th:href="@{/userOrders}" class="sidebar-link mainUp"
                  >Orders</a
                >
              </li>
              <li class="sidebar-item">
                <a
                  th:href="@{/userCustomizedOrders}"
                  class="sidebar-link mainUp"
                  >Customized Jewelry</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </aside>
    </div>
  </body>
</html>
