/*Reset styles CSS*/
body,
h1,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #fcfaf9;
}

/*Header CSS*/
.header {
  color: black;
  padding: 20px;

  h1 {
    font-weight: 200;
    font-size: 2em;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-left: 10%;
  }

  .tools_header {
    display: inline-flex;
    gap: 2em;
    margin-right: 10%;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.home_categories {
  display: flex;
  justify-content: center;

  li {
    display: inline-block;
    margin: 0 120px 120px 0;
    align-items: center;

    a:hover {
      color: #f7b050;
    }

    a {
      text-decoration: none;
      color: black;
    }

    font-size: 1.2em;
  }
}
.wrapper {
  position: relative;

  .bottom-cover {
    padding: 12% 30%;
    background-color: #0d0e12;
    position: absolute;
    left: 50px;
    top: 150%;
    opacity: 0.6;
    z-index: -2;
  }

  .top_img {
    width: 60%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -3;
  }

  .header-content {
    position: absolute;
    left: 10%;
    top: 180%;
    z-index: -1;
    width: 30%;
    color: #fff;
    h1 {
      font-size: 5rem;
      font-family: "Baskerville";
    }

    p {
      margin-top: 7%;
      font-size: 1.75rem;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid #fff;
      padding: 10px 25px;
      text-transform: uppercase;
    }
  }
}

/*Footer CSS*/
footer {
  padding: 30px 100px 10px 100px;
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;
}

#others_info {
  a:hover {
    color: #f7b050;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

#sercurity_contact {
  padding: 40px 0 0 0;
}

#sercurity {
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #f7b050;
  }
}

#contact {
  text-align: center;
}

/*Main Page CSS*/
#main {
  margin-top: 60%;
  margin-bottom: 20%;
  input {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 20%;
    display: inline-block;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
  }
  input:checked {
    background-color: black;
  }

  #Price {
    .price-slider {
      width: 80%;
      max-width: 400px;
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ccc;
      border: none;
    }

    .slider {
      width: 100%;
      -webkit-appearance: none;
      appearance: none;
      height: 10px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      transition: opacity 0.15s ease-in-out;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: black;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 20px;
      height: 20px;
      background: black;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }

    .slider-value {
      text-align: center;
      font-size: 1.2rem;
    }
  }
  
}
