<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
</head>
<body>
<h1>Checkout</h1>
<p>Product Name: <span th:text="${product.productName}"></span></p>
<p>Price: <span th:text="${product.price}"></span></p>
<form th:action="@{/pay}" method="post">
    <input type="hidden" name="id" th:value="${product.productID}"/>
    <label>
        <input type="radio" name="method" value="cod" checked/> COD
    </label>
    <label>
        <input type="radio" name="method" value="paypal"/> PayPal
    </label>
    <button type="submit">Thanh toán</button>
</form>
</body>
</html>
