<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Detail</title>
</head>
<body>
<h1>Product Detail</h1>
<p>Product Name: <span th:text="${product.productName}"></span></p>
<p>Description: <span th:text="${product.description}"></span></p>
<p>Price: <span th:text="${product.price}"></span></p>
<form th:action="@{/checkout}" method="get">
    <input type="hidden" name="id" th:value="${product.productID}"/>
    <button type="submit">Thanh toán</button>
</form>
</body>
</html>
