<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order List</title>
</head>
<body>
<h1>Order List</h1>
<table>
    <tr>
        <th>Order ID</th>
        <th>Product ID</th>
        <th>Payment Status</th>
        <th>Shipping Status</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.orderId}">Order ID</td>
        <td th:text="${order.productId}">Product ID</td>
        <td th:text="${order.paymentStatus}">Payment Status</td>
        <td th:text="${order.shippingStatus}">Shipping Status</td>
    </tr>
</table>
<a th:href="@{/products} " >Products</a>

</body>
</html>
