<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Detail</title>
</head>
<body>
<h1>Product Detail</h1>
<p>Product Name: <span th:text="${product.productname}"></span></p>
<p>Description: <span th:text="${product.description}"></span></p>
<p>Price: <span th:text="${product.price}"></span></p>
<form th:action="@{/order/{id}/cod(id=${product.productId})}" method="post">
    <button type="submit">Thanh toán COD</button>
</form>
<form th:action="@{/order/{id}/transfer(id=${product.productId})}" method="post">
    <button type="submit">Chuyển khoản</button>
</form>
</body>
</html>
