<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Ingredients</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/staff/manager.css}">
    <link rel="stylesheet" th:href="@{/css/spinner.css}">
</head>

<body>
    <div class="lds-roller" id="spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <div class="sidebar-logo">
                    <a th:href="@{#}">
                        <img th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2FlogoWhite.svg?alt=media&token=dcc77916-b3e2-4375-a549-c8aa9cb1f706}"
                            alt="logo"> <span>KIRA JEWELRY</span>
                    </a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class=" sidebar-item">
                    <a th:if="${session.employeeName != null}" th:onclick="|location.href='@{/homeSalesStaff}'|"
                        class="sidebar-link">
                        <img th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Fprofile.svg?alt=media&token=b7ae12eb-bbf2-4955-8fa4-d09e008098a5}"
                            alt="profile">
                        <span>Profile</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:if="${session.employeeName != null}" th:onclick="|location.href='@{/viewRequestsforSS}'|"
                        class="sidebar-link">
                        <img th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Frequest.svg?alt=media&token=8af8e599-1257-42da-9698-92dab621d2b6}"
                            alt="request">
                        <span>Requests</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:if="${session.employeeName != null}" th:onclick="|location.href='@{/viewQuotesforSS}'|"
                        class="active-link sidebar-link">
                        <img th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Fquote.svg?alt=media&token=33e7730e-7518-45c3-b27d-61d03118c2db}"
                            alt="quote">
                        <span>Quotes</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:if="${session.employeeName != null}"
                        th:onclick="|location.href='@{/viewOrdersforSalesStaff}'|" class="sidebar-link">
                        <img th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Fproducts.svg?alt=media&token=3681d0ad-eeb7-4398-b1b2-17854b69fd5c}"
                            alt="materialAndGem">
                        <span>Orders</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a th:href="@{/logout}" class="sidebar-link">
                    <img th:src="@{https://firebasestorage.googleapis.com/v0/b/kirajewelry-a2n2k.appspot.com/o/Header%2FIcon%2Flogout.svg?alt=media&token=a42d85ca-8e13-44a6-a054-a98137802c4e}"
                        alt="Logout">
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <div class="main">
            <div class="out">
                <div class="top-header">
                    <div class="first-ele">
                        <img th:src="@{/img/person/profile1.svg}" alt="person">
                        <span th:if="${session.employeeName != null}">
                            Welcome, <span th:text="${session.employeeName}"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mess-container" th:if="${message != null}">
                <div class="mess-content close" id="success-message">
                    <div class="toast-header">
                        <strong class="me-auto" style="color:#155724">Notification</strong>
                        <a th:href="@{/}">
                            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                        </a>
                    </div>
                    <div class="toast-body" style="color:#01b12a">
                        <p th:text="${message}"></p>
                    </div>
                </div>
            </div>

            <div class="content">
                <h1 class="text-center">Find ingredients for customer's jewelry</h1>
                <div class="wrapper-order">
                    <div class="d-flex">
                        <b class="me-3">
                            Production Order Id :
                        </b>
                        <i class="fw-bold text-secondary" th:value="${productionOrder.production_Order_Id}"
                            th:text="${productionOrder.production_Order_Id}"></i>
                    </div>
                    <div class="d-flex">
                        <b class="me-3">
                            Product Id :
                        </b>
                        <i class="fw-bold text-secondary" th:value="${product.product_Id}"
                            th:text="${product.product_Id}"></i>
                    </div>
                    <div class="d-flex">
                        <b class="me-3 d-flex align-items-center">
                            Size:
                        </b>

                        <div id="sizeDisplay">
                            <span id="currentSize" th:text="${productionOrder.product_Size}"></span>
                            <button type="button" class="btn btn-link text-decoration-none"
                                onclick="showEditForm()">Edit</button>
                        </div>

                        <form method="POST" style="display: none;" id="sizeEditForm">
                            <input type="number" min="0" name="productSize" th:value="${productionOrder.product_Size}"
                                id="productSize">
                            <input type="hidden" id="production_Order_Id" name="production_Order_Id"
                                th:value="${productionOrder.production_Order_Id}">
                            <button type="submit" class="text-decoration-none btn btn-success">Update</button>
                            <button type="button" class="btn btn-link text-decoration-none bg-danger text-white"
                                onclick="hideEditForm()">Cancel</button>
                        </form>
                    </div>
                </div>
                <div class="wrapper-order">
                    <h3 class="fw-bold text-center" style="color: rgb(226, 187, 13)">Material</h3>

                    <form th:action="@{/searchMaterial}" method="GET">
                        <input type="hidden" id="production_Order_Id" name="production_Order_Id"
                            th:value="${productionOrder.production_Order_Id}">

                        <div class="form-row row">
                            <div class="form-group col-md-10 d-flex">
                                <label for="materialName" class="me-3">Material Name:</label>
                                <div class="d-flex align-items-center">
                                    <div id="materialDisplay" class="d-flex align-items-center flex-row"
                                        th:if="${session.material == null || session.material.material_Name == ''}">
                                        <span class="text-danger">No material selected</span>
                                        <button type="button" class="btn btn-link text-decoration-none"
                                            onclick="showMaterialEditForm()">Edit</button>
                                    </div>

                                    <div id="materialDisplay" class="d-flex align-items-center"
                                        th:if="${session.material != null && session.material.material_Name != ''}">
                                        <span class="text-secondary" th:text="${session.material.material_Name}"></span>

                                        <button type="button" class="btn btn-link text-decoration-none"
                                            onclick="showMaterialEditForm()">Edit</button>

                                    </div>

                                    <div id="materialEditForm" style="display: none;">
                                        <input type="text" id="materialName" name="materialName"
                                            class="form-control me-3" th:value="${materialName}"
                                            th:placeholder="${session.material != null ? session.material.material_Name : ''}">
                                        <button type="submit" class="btn btn-secondary me-2 text-nowrap">Search
                                            Material</button>
                                        <button type="button"
                                            class="btn btn-link text-decoration-none bg-danger text-white"
                                            onclick="hideMaterialEditForm()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <form th:action="@{/saveMaterialWeight}" method="GET">
                        <input type="hidden" id="production_Order_Id" name="production_Order_Id"
                            th:value="${productionOrder.production_Order_Id}">

                        <div class="form-row row">
                            <div class="form-group col-md-10 d-flex">
                                <label for="materialWeight" class="text-nowrap me-3">Material Weight:</label>
                                <div class="d-flex align-items-center">
                                    <div id="weightDisplay"
                                        th:if="${session.productMaterial == null || session.productMaterial.material_Weight == ''}">
                                        <span class="text-danger">No material weight specified</span>
                                        <button type="button" class="btn btn-link text-decoration-none"
                                            onclick="showWeightEditForm()">Edit</button>
                                    </div>

                                    <div id="weightDisplay"
                                        th:if="${session.productMaterial != null && session.productMaterial.material_Weight != ''}">
                                        <span class="text-secondary"
                                            th:text="${session.productMaterial.material_Weight}"></span>
                                        <button type="button" class="btn btn-link text-decoration-none"
                                            onclick="showWeightEditForm()">Edit</button>
                                    </div>

                                    <div id="weightEditForm" style="display: none;">
                                        <input type="text" id="materialWeight" name="materialWeight"
                                            class="form-control me-3" th:value="${materialWeight}"
                                            th:placeholder="${session.productMaterial != null ? session.productMaterial.material_Weight : ''}">
                                        <button type="submit" class="btn btn-secondary me-2">Save</button>
                                        <button type="button"
                                            class="btn btn-link text-decoration-none bg-danger text-white"
                                            onclick="hideWeightEditForm()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div th:if="${message != null}">

                        <i class="fw-bold" th:text="${message}"></i>
                    </div>
                </div>

                <div class="container">
                    <br>
                    <div th:if="${materials != null}">
                        <br>
                        <div class="wrapper-order m-0">
                            <table class="w-100">
                                <tr>
                                    <th>ID</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Eff Date</th>
                                    <th>Action</th>
                                </tr>
                                <tr th:each="material : ${materials}">
                                    <div th:if="${materialPriceList != null }">
                                        <td th:text="${material.material_Id}"></td>
                                        <td th:text="${material.material_Code}"></td>
                                        <td th:text="${material.material_Name}"></td>
                                        <div th:each="materialPriceList : ${materialPriceList}">
                                            <td th:if="${materialPriceList.material.material_Id == material.material_Id}"
                                                th:text="${materialPriceList.price}"></td>
                                            <td th:if="${materialPriceList.material.material_Id == material.material_Id}"
                                                th:text="${materialPriceList.eff_Date}"></td>
                                        </div>
                                        <td>
                                            <form th:action="@{/saveMaterial}" method="get">
                                                <input type="hidden" id="production_Order_Id" name="production_Order_Id"
                                                    th:value="${productionOrder.production_Order_Id}">
                                                <input type="hidden" name="material_Id"
                                                    th:value="${material.material_Id}" />
                                                <button class="text-decoration-none text-success">Save</button>
                                            </form>
                                        </td>
                                    </div>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="wrapper-order">
                    <h3 class="fw-bold text-center" style="color: rgb(179, 174, 185)">Diamond</h3>
                    <div th:if="${session.oldDiamond != null}" class="form-control w-100 border-0" disabled>

                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <label for="diamondName">Diamond Name:</label>
                                    <span th:text="${session.oldDiamond.dia_Name}"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="caratWeight">Carat weight:</label>
                                    <span th:text="${session.oldDiamond.carat_Weight}"></span> ct
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="origin">Origin:</label>
                                <span th:text=" ${session.oldDiamond.origin}"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="color">Color:</label>
                                <span th:text=" ${session.oldDiamond.color}"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="clarity">Clarity:</label>
                                <span th:text=" ${session.oldDiamond.clarity}"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="cut">Cut:</label>
                                <span th:text=" ${session.oldDiamond.cut}"></span>
                            </div>
                        </div>


                        <button type="button" class="btn btn-link text-decoration-none"
                            onclick="showDiamondEditForm()">Edit</button>
                    </div>
                    <div th:if="${session.oldDiamond == null}" class="form-control w-100 my-3 border-0" disabled>
                        <label class="text-nowrap me-3">Diamond Information:</label>
                        <span class="text-danger">Not selected yet</span>
                        <button type="button" class="btn btn-link text-decoration-none"
                            onclick="showDiamondEditForm()">Edit</button>
                    </div>

                    <div id="diamondEditForm" style="display: none;">
                        <form th:action="@{/searchDiamond}" method="GET" onsubmit="return validateForm()">
                            <input type="hidden" id="production_Order_Id" name="production_Order_Id"
                                th:value="${productionOrder.production_Order_Id}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <label for="diamondName">Diamond Name:</label>
                                        <input type="text" id="diamondName" name="diamondName" class="form-control"
                                            th:value="${diamondName}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="caratWeight">Carat weight:</label>
                                        <input type="number" step="any" min="0" id="caratWeight" name="caratWeight"
                                            class="form-control" th:value="${caratWeight}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="origin">Origin:</label>
                                    <select id="origin" name="origin" class="form-control">
                                        <option class="text-center" disabled selected>~~ Choose Origin ~~</option>
                                        <option th:each="origin : ${origins}" th:value="${origin}" th:text="${origin}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="color">Color:</label>
                                    <select id="color" name="color" class="form-control">
                                        <option class="text-center" disabled selected>~~ Choose Color ~~</option>
                                        <option th:each="color : ${colors}" th:value="${color}" th:text="${color}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="clarity">Clarity:</label>
                                    <select id="clarity" name="clarity" class="form-control">
                                        <option class="text-center" disabled selected>~~ Choose Clarity ~~</option>
                                        <option th:each="clarity : ${clarities}" th:value="${clarity}"
                                            th:text="${clarity}"></option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="cut">Cut:</label>
                                    <select id="cut" name="cut" class="form-control">
                                        <option class="text-center" disabled selected>~~ Choose Cut ~~</option>
                                        <option th:each="cut : ${cuts}" th:value="${cut}" th:text="${cut}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-4 d-flex align-items-center w-100 justify-content-center">
                                <button type="submit" class="btn btn-secondary my-4">Search Diamond</button>
                                <button type="button" class="btn btn-danger text-decoration-none mx-3"
                                    onclick="hideDiamondEditForm()">Cancel</button>
                            </div>
                        </form>
                        <br>
                        <div th:if="${messageDiamond != null}" class="text-center">
                            <i class="fw-bold" th:text="${messageDiamond}"></i>
                        </div>
                    </div>
                </div>

                <div class="container my-5">

                    <div th:if="${diamonds != null}">
                        <br>
                        <div class="wrapper-order m-0">
                            <table class="w-100">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Origin</th>
                                        <th>Carat Weight</th>
                                        <th>Color</th>
                                        <th>Clarity</th>
                                        <th>Cut</th>
                                        <th>Carat Weight From</th>
                                        <th>Carat Weight To</th>
                                        <th>Price</th>
                                        <th>Effective Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="diamond : ${diamonds}">
                                        <td th:text="${diamond.dia_Id}"></td>
                                        <td th:text="${diamond.dia_Code}"></td>
                                        <td th:text="${diamond.dia_Name}"></td>
                                        <td th:text="${diamond.origin}"></td>
                                        <td th:text="${diamond.carat_Weight}"></td>
                                        <td th:text="${diamond.color}"></td>
                                        <td th:text="${diamond.clarity}"></td>
                                        <td th:text="${diamond.cut}"></td>
                                        <div th:each="diamondPrice, stat : ${diamondPriceList}">
                                            <div th:if="${diamondPrice.origin == diamond.origin 
                                                        and diamondPrice.color == diamond.color 
                                                        and diamondPrice.clarity == diamond.clarity 
                                                        and diamondPrice.cut == diamond.cut 
                                                        and diamondPrice.carat_Weight_From <= diamond.carat_Weight 
                                                        and diamondPrice.carat_Weight_To >= diamond.carat_Weight}">

                                                <td th:text="${diamondPrice.carat_Weight_From}"></td>
                                                <td th:text="${diamondPrice.carat_Weight_To}"></td>
                                                <td th:text="${diamondPrice.price}"></td>
                                                <td th:text="${diamondPrice.eff_Date}"></td>
                                            </div>
                                        </div>
                                        <td>
                                            <form th:action="@{/saveDiamond}" method="GET">
                                                <input type="hidden" id="production_Order_Id" name="production_Order_Id"
                                                    th:value="${productionOrder.production_Order_Id}">
                                                <input type="hidden" name="dia_Id" th:value="${diamond.dia_Id}" />
                                                <button class="text-decoration-none text-success">Save</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="wrapper-order my-3">
                <h3 class="fw-bold text-center" style="color: rgb(21, 131, 58)">Production Price</h3>

                <div class="d-flex">
                    <b class="me-3 d-flex align-items-center">
                        Price:
                    </b>
                    <div id="priceDisplay" th:if="${productionOrder.q_Production_Amount != 0}">
                        <span th:text="${productionOrder.q_Production_Amount}"></span>
                        <button type="button" class="btn btn-link text-decoration-none"
                            onclick="showPriceEditForm()">Edit</button>
                    </div>
                    <div id="priceDisplay" th:if="${productionOrder.q_Production_Amount == 0}">
                        <span class="text-danger">Not selected yet</span>
                        <button type="button" class="btn btn-link text-decoration-none"
                            onclick="showPriceEditForm()">Edit</button>
                    </div>

                    <form th:action="@{/saveProductionPrice}" method="GET" id="priceEditForm" style="display: none;">
                        <input type="hidden" id="production_Order_Id" name="production_Order_Id"
                            th:value="${productionOrder.production_Order_Id}">
                        <div class="d-flex">
                            <input type="number" min="0" step="any" id="productionAmount" name="productionAmount"
                                class="form-control me-3" th:value="${productionAmount}">
                            <button type="submit" class="btn btn-secondary me-2 text-nowrap">Save Price</button>
                            <button type="button" class="btn btn-link text-decoration-none bg-danger text-white"
                                onclick="hidePriceEditForm()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <div th:if="${productionOrder.q_Diamond_Amount != 0 && productionOrder.q_Material_Amount != 0 && productionOrder.q_Production_Amount !=0}"
                class="my-5" style="margin: 0 auto; width: 85%">
                <div class="col-4 d-flex align-items-center w-100 justify-content-center">
                    <a class="btn btn-secondary w-25"
                        th:href="@{/viewInformationRequestForSS(productionOrderId=${productionOrder.production_Order_Id})}">
                        Back
                    </a>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#Next" class="btn btn-danger w-25 mx-3">Next</a>
                </div>
            </div>
            <div class="modal fade" id="Next">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">This is just a confirm message</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <p>Are you sure with these information jewelry ?</p>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <form th:action="@{/previewQuotePage}" method="GET" enctype="multipart/form-data">
                                <input type="hidden" name="production_Order_Id" id="production_Order_Id"
                                    th:value="${productionOrder.production_Order_Id}" />
                                <input type="submit" name="btnSubmit" class="btn btn-danger" value="Yes">
                                <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const url = window.location.href;

        async function getapi(url) {
            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                hideSpinner();


            } catch (error) {
                console.error('Error fetching data', error);
            }
        }


        document.getElementById("sizeEditForm").addEventListener("submit", function (event) {
            event.preventDefault();
            const formData = new FormData(document.getElementById("sizeEditForm"));
            const queryString = new URLSearchParams(formData).toString();


            fetch(`/updateSize?${queryString}`, {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        hideEditForm();
                        document.getElementById("currentSize").innerText = data.productionOrder.product_Size;
                    } else {
                        console.error("Error updating size: ", error);
                    }

                });
        });

        document.addEventListener('DOMContentLoaded', (event) => {
            getapi(url);
            const urlParams = new URLSearchParams(window.location.search);
            const successMessage = document.getElementById('success-message');
            const errorMessage = document.getElementById('error-message');
            const logoutMessage = document.getElementById('logout-message');

            if (urlParams.has('success')) {
                successMessage.classList.remove('close');
                successMessage.classList.add('open');
                setTimeout(() => {
                    successMessage.classList.remove('open');
                    successMessage.classList.add('close');
                }, 2000);
            } else if (urlParams.has('error')) {
                errorMessage.classList.remove('close');
                errorMessage.classList.add('open');
                setTimeout(() => {
                    errorMessage.classList.remove('open');
                    errorMessage.classList.add('close');
                }, 2000);
            } else if (urlParams.has('logout')) {
                logoutMessage.classList.remove('close');
                logoutMessage.classList.add('open');
                setTimeout(() => {
                    logoutMessage.classList.remove('open');
                    logoutMessage.classList.add('close');
                }, 2000);
            }

        });

        function showEditForm() {
            document.getElementById('sizeDisplay').style.display = 'none';
            document.getElementById('sizeEditForm').style.display = 'block';
        }

        function hideEditForm() {
            document.getElementById('sizeDisplay').style.display = 'block';
            document.getElementById('sizeEditForm').style.display = 'none';
        }
        function showMaterialEditForm() {
            document.getElementById('materialDisplay').style.display = 'none';
            document.getElementById('materialEditForm').style.display = 'flex';
        }

        function hideMaterialEditForm() {
            document.getElementById('materialEditForm').style.display = 'none';
            document.getElementById('materialDisplay').style.display = 'flex';
        }

        function showWeightEditForm() {
            document.getElementById('weightDisplay').style.display = 'none';
            document.getElementById('weightEditForm').style.display = 'flex';
        }

        function hideWeightEditForm() {
            document.getElementById('weightEditForm').style.display = 'none';
            document.getElementById('weightDisplay').style.display = 'flex';
        }
        function showDiamondEditForm() {
            document.querySelectorAll('[id^="materialDisplay"]').forEach(function (elem) {
                elem.style.display = 'none';
            });
            document.getElementById('diamondEditForm').style.display = 'block';
        }

        function hideDiamondEditForm() {
            document.getElementById('diamondEditForm').style.display = 'none';
            if (document.getElementById('materialDisplayFilled')) {
                document.getElementById('materialDisplayFilled').style.display = 'flex';
            } else {
                document.getElementById('materialDisplayEmpty').style.display = 'flex';
            }
        }
        function showPriceEditForm() {
            document.querySelectorAll('[id^="priceDisplay"]').forEach(function (elem) {
                elem.style.display = 'none';
            });
            document.getElementById('priceEditForm').style.display = 'flex';
        }

        function hidePriceEditForm() {
            document.getElementById('priceEditForm').style.display = 'none';
            document.querySelectorAll('[id^="priceDisplay"]').forEach(function (elem) {
                elem.style.display = 'flex';
            });
        }
        function hideSpinner() {
            const spinner = document.getElementById('spinner');
            if (spinner) {
                spinner.style.display = 'none';
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>