<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Page</title>
</head>

<body>
    <div class="container">
        <h2>Are you sure you want to delete this production order?</h2>
        <form th:action="@{/deleteProductionOrder}" method="post">
            <input type="hidden" name="productionOrderId" th:value="${productionOrderId}" />
            <button type="submit">Yes</button>
            <a th:href="@{/viewRequestsforManagerviewRequestsforManager}">Cancel</a>
        </form>
    </div>
</body>

</html>