<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Detail</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 th:text="${blog.title}" class="text-center"></h1>
    <img th:src="${blog.imgUrl}" alt="Blog Image" class="img-thumbnail mx-auto d-block" width="100">
    <p th:text="${blog.date}" class="text-center"></p>
    <p th:text="${blog.content}"></p>
    <p>Author: <span th:text="${blog.employee.fullName}"></span></p>
</div>
<!-- Optional: Include Bootstrap JS bundle -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>