<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Blog List</h1>
    <div th:each="blog : ${blogs}">
        <a th:href="@{/blogs/{id}(id=${blog.blogId})}" class="list-group-item list-group-item-action">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <img th:src="${blog.imgUrl}" alt="Blog Image" class="img-fluid">
                </div>
                <div class="col-md-5">
                    <h2 th:text="${blog.title}"></h2>
                </div>
                <div class="col-md-5">
                    <p th:text="${blog.date}"></p>
                </div>
            </div>
        </a>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>