body {
    background-color: #FFE4BE;
}

.wrapper {
    position: relative;

    .top-cover {
        padding: 30% 25%;
        background-color: #FFFFFF;
        position: absolute;
        right: 0px;
        top: 0px;
        opacity: 0.25;
        z-index: -2;
    }

    .bottom-cover {
        padding: 12% 30%;
        background-color: #F7B050;
        position: absolute;
        left: 50px;
        top: 150%;
        opacity: 0.6;
        z-index: -2;
    }

    img {
        width: 60%;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: -3;
    }

    .header-content {
        position: absolute;
        left: 10%;
        top: 180%;
        z-index: -1;
        width: 30%;

        h1 {
            font-size: 5rem;
            font-family: "Baskerville";
        }

        p {
            margin-top: 7%;
            font-size: 1.75rem;
            display: inline-block;
            border-radius: 50%;
            border: 1px solid #383838;
            padding: 10px 25px;
            text-transform: uppercase;
        }
    }
}

.summer-col-content {
    .summer-header {
        text-align: center;
        margin-bottom: 5%;
    }

    .container {
        img {
            width: 100%;
        }
    }

    margin-top: 65%;

    .col-md-7 {
        .last-img {
            margin-top: 15%;

        }
    }
}

.info-section {
    margin-top: 5%;

    h1 {
        margin-left: 5%;
        color: #F7B050;
    }
}

details {
    margin: 5% 10%;
}

summary:hover {
    color: #F7B050;
}

details>summary {
    font-size: 1.75rem;
    border-bottom: 1px solid #383838;
    cursor: pointer;
}

details>p {
    font-size: 1.5rem;
    padding: 10px;
    margin: 0;
}

details .btn-group {
    width: 100%;
}


.all-collection-sect {
    position: relative;
    text-align: center;

    img {
        width: 100%;
    }

    .sect-cover {
        padding: 21.5% 50%;
        background-color: #000000;
        position: absolute;
        opacity: 0.5;
    }
    
}

.sect-content {
    top: 40%;
    left: 20%;
    position: absolute;

    h1 {
        font-family: "Baskerville";
        color: #F7B050;
        font-size: 4rem;
    }

    p {
        margin-bottom: 5%;
        font-size: 1.5rem;
        color: #FFFFFF;
        font-weight: 200;
    }

    a {
        margin: 2%;
        color: #FFFFFF;
        padding: 15px 25px;
        font-size: 1.75rem;
        font-weight: 500;
        background-color: #F7B050;
        text-decoration: none;
        border-radius: 10px;
    
        &:nth-of-type(1) {
            margin-left: 0;
        }
    }
}