<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Staff Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/staff/manager.css}">
</head>

<body>

    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <div class="sidebar-logo">
                    <a th:href="@{#}">
                        <img th:src="@{/img/icon-fig/logoWhite.svg}" alt="logo">
                        <span>KIRA JEWELRY</span>
                    </a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a th:href="@{/homeSalesStaff}" class="sidebar-link">
                        <img th:src="@{/img/icon-fig/profile.svg}" alt="profile">
                        <span>Profile</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:if="${session.employeeName != null}" th:onclick="|location.href='@{/viewRequestsforSS}'|"
                        class="active sidebar-link">
                        <img th:src="@{/img/icon-fig/request.svg}" alt="request">
                        <span>Requests</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:if="${session.employeeName != null}" th:onclick="|location.href='@{/viewQuotesforSS}'|"
                        class=" sidebar-link">
                        <img th:src="@{/img/icon-fig/quote.svg}" alt="quote">
                        <span>Quotes</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:if="${session.employeeName != null}" th:onclick="|location.href='@{/viewMaterialAndGem}'|"
                        class="sidebar-link">
                        <img th:src="@{/img/icon-fig/quote.svg}" alt="materialAndGem">
                        <span>Material & Gem</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a th:href="@{/logout}" class="sidebar-link">
                    <img src="/img/icon-fig/logout.svg" alt="Logout">
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <div class="main">
            <div class="out">
                <div class="top-header">
                    <div class="first-ele">
                        <img th:src="@{/img/person/profile1.svg}" alt="person">
                        <span th:if="${session.employeeName != null}">
                            Welcome, <span th:text="${session.employeeName}"></span>
                        </span>
                    </div>
                </div>
            </div>
            <a class="text-decoration-none ms-4 me-4 text-dark " th:href="@{/viewRequestsforSS}">Back to request
                list</a>
            <div class="content">
                <h1 style="text-align: center;">All Customer Requests</h1>
                <hr>

                <div th:each="productionOrder : ${listRequests}">
                    <div class="container-fluid container-fluid-one-request mb-5">
                        <h1>General Information</h1>
                        <div class="row mx-auto">
                            <div class="order-one col-md-6">
                                <div class="information">
                                    <h2>Production Order ID</h2>
                                    <p th:text="${productionOrder.production_Order_Id}"></p>
                                </div>
                                <div class="information">
                                    <h2>Customer ID</h2>
                                    <p th:text="${productionOrder.customer_Id}"></p>
                                </div>
                                <div class="information">
                                    <h2>Date</h2>
                                    <p th:text="${#dates.format(productionOrder.date, 'yyyy-MM-dd')}"></p>
                                </div>
                                <div class="information">
                                    <h2>Category ID</h2>
                                    <p th:text="${productionOrder.category_Id}"></p>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <h1>Product Information</h1>

                        <div class="row mx-auto">
                            <div class="order-one col-md-6">
                                <div class="information">
                                    <h2>Description</h2>
                                    <p th:text="${productionOrder.description}"></p>
                                </div>
                            </div>
                            <div class="order-one col-md-6">
                                <div class="information">
                                    <h2>Product Size</h2>
                                    <p th:text="${productionOrder.product_Size}"></p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mx-auto">
                            <div class="order-one col-md-6">
                                <div class="information">
                                    <h2>Material Name</h2>
                                    <p th:text="${productionOrder.material_Name}"></p>
                                </div>
                                <div class="information">
                                    <h2>Material Color</h2>
                                    <p th:text="${productionOrder.material_Color}"></p>
                                </div>
                                <div class="information">
                                    <h2>Material Weight</h2>
                                    <p th:text="${productionOrder.material_Weight}"></p>
                                </div>
                            </div>
                            <div class="order-one col-md-6">
                                <div class="information">
                                    <h2>Gemstone Name</h2>
                                    <p th:text="${productionOrder.gem_Name}"></p>
                                </div>
                                <div class="information">
                                    <h2>Gemstone Color</h2>
                                    <p th:text="${productionOrder.gem_Color}"></p>
                                </div>
                                <div class="information">
                                    <h2>Gemstone Weight</h2>
                                    <p th:text="${productionOrder.gem_Weight}"></p>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <h1>Image</h1>
                        <div class="row mx-auto">
                            <div class="order-one col-md-6">
                                <div class="information">
                                    <img th:src="${productionOrder.image_url}" alt="Production Order Image"
                                        style="max-width: 150%; height: auto;" />
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h1>Staff Assignment</h1>
                        <div class="row mx-auto">
                            <div class="order-one col-md-6">
                                <div class="information">
                                    <h2>Sales Staff Name</h2>
                                    <p th:text="${productionOrder.sales_Staff_Name}"></p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h1>Status</h1>
                        <div class="row mx-auto">
                            <div class="order-one col-md-6">
                                <div class="information">
                                    <h2>Status</h2>
                                    <p th:text="${productionOrder.status}"></p>
                                </div>
                            </div>
                        </div>


                        <form th:action="@{/viewEditPage}" method="get">
                            <div class="b-group">
                                <input type="hidden" name="productionOrderId"
                                    th:value="${productionOrder.production_Order_Id}" />
                                <input class="bg-dark text-white p-2 ps-4 pe-4 me-5" type="submit" value="Edit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>




</body>

</html>